        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: linear-gradient(#000,#004D52,#B4B4B4);
        }
        .form-container{
            width: 500px;
            height: 400px;
            border-radius: 8px;
            background-color: grey;
            margin-top: 50px;
        }
        h2, h3 {
            text-align: center;
        }
        label {
            display: block;
            margin: 10px 0 5px;
            margin-left: 10px;
          
        }
        input[type="text"], input[type="email"], textarea {
            width: 90%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
            margin-left: 10px;
        }
        input[type="submit"] {
            width: 80%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            margin-left: 40px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }

        .text-container {
            background-color: #c7c7c7;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 600px;
            margin-top: 50px;
        }