.demo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.containerCamisa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.camisa img{
    width: 40rem;
}
.tenis img{
    width: 40rem;
    margin-bottom: 25px;
}
.subTitleProdutos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 600px) {
    .demo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto; 
    }
    
    .camisa img,
    .tenis img {
        width: 70%;
        margin: 0 auto; 
        display: block; 
    }
    
    .subTitleProdutos {
        text-align: center; 
    }
}
