header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-nav{
    width: 100%;
    max-width: 100%;
    height: 12,5rem;
    background-color:#000;
    margin: auto;
}
.navbar{
    flex: 1;
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}
.container-nav .logo img{
    width: 25rem;
    height: 5rem;
    align-self: center;
    margin-top: 17px;
    margin-left: 75px;
}
.nav{
    flex: 1;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: stretch;
    align-items: center;
    justify-content: flex-end;
}
.nav img{
    width: 50px;
    height: 50px;
    margin-inline: 20px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.nav img:hover{
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
}
@media (max-width: 600px) {
    .nav{
        justify-content: center;
    }
    .container-nav {
    height: auto;
    padding: 1rem;
    }
    
    .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    }
    
    .container-nav .logo img {
    width: 15rem;
    height: auto;
    margin: 0;
    }
    
    .nav img {
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    }
}
@media (max-width: 900px) {
    .nav{
        justify-content: center;
    }
    .container-nav {
    height: auto;
    padding: 1rem;
    }
    
    .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    }
    
    .container-nav .logo img {
    width: 15rem;
    height: auto;
    margin: 0;
    }
    
    .nav img {
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    }
}
@media (max-width: 1280px) {
    .nav{
        justify-content: center;
    }

    .container-nav {
    height: auto;
    padding: 1rem;
    }
    
    .navbar {
        flex: 1;
        width: 100%;
        padding: 3rem;
        display: flex;
        justify-content: space-between;
    }
    
    .container-nav .logo img {
    width: 15rem;
    height: auto;
    margin: 0;
    }
    
    .nav img {
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    }
}