.grid-inicio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.image-container img{
    width: auto;
    height: 300px;
    border-radius: 10px;"
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 3.5rem;
    color: white;
}
.subtitle{
    font-size: 1rem;
    color: white;
}
