.containerProdutos{
    display: flex;
    max-width: 116rem;
    margin: auto;
    padding: 1rem;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 50px;
}
.linha-produto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo{
    color: white;
    font-size: 3.5rem;
}
.linhaDivisoria{
    border: 2px solid #fff;
    width: 600px;
    border-radius: 20px;  
    height: 0;
    margin-top: 35px;
    margin-inline: 50px;
}


.escolha{
    display: flex;
    flex-direction: column;
    height: 344px;
    width: 359px;
    background-color: #fff;
    border-radius: 50px;
    margin-top: 44px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 2rem;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.escolha2{
    display: flex;
    flex-direction: column;
    height: 387px;
    width: 381px;
    background-color: #fff;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 2rem;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.containerOpcao{
    display: flex;
    max-width: 116rem;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 50px;
}
.containerOpcao2{
    display: flex;
    max-width: 116rem;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 50px;
}
.escolha img{
    width: 250px;
    height: 300px;
}

.escolha2 img{
    width: 300px;
    height: 350px;
}
.categoria{
    display: flex;
    height: 142px;
    width: 1715px;
    background-color: #fff;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.tituloProdutos{
    color: #000;
    font-size: 3rem;
}
.subTitleOpcao{
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 50px;
}

.escolha:hover{
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
}

.escolha2:hover{
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
}
.categoria:hover{
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
}

@media (max-width: 600px) {
    .containerProdutos {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    }
    
    .linhaDivisoria {
    width: 80%;
    }
    
    .escolha,
    .escolha2 {
    width: 80%;
    height: auto;
    margin-left:30px;
    margin: 10px auto;
    }
    
    .escolha img,
    .escolha2 img {
    width: 300px;
    height: auto;
    padding: 15px;
    }
    
    .containerOpcao {
    flex-direction: column;
    margin-top: 20px;
    }
    .containerOpcao2 {
        flex-direction: column;
        margin-top: 20px;
    }

    .categoria{
        display: flex;
        height: 142px;
        width: 75%;
        background-color: #fff;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .tituloProdutos{
        color: #000;
        font-size: 2rem;
    }
}

@media (max-width: 900px){

    .containerProdutos {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    }
    
    .linhaDivisoria {
    width: 80%;
    }
    
    .escolha,
    .escolha2 {
    width: 80%;
    height: auto;
    margin-left:30px;
    margin: 10px auto;
    }
    
    .escolha img,
    .escolha2 img {
    width: 100%;
    height: auto;
    padding: 15px;
    }
    
    .containerOpcao {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }
    .containerOpcao2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .categoria{
        display: flex;
        height: 142px;
        width: 100%;
        background-color: #fff;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
    }

    .tituloProdutos{
        color: #000;
        font-size: 2rem;
    }
}






