html {
    min-height: 100%;
}
body {
    background-repeat: repeat;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
 
main {
    display: flex;
    flex: auto; 
    padding: 20px;
    margin-top: 35px;
}
 
.produto {
    width: 30%;
    gap: 10px;
    height: 560px; 
    display: flex;
    background-color: #fff; 
    border-radius: 8px;
    border: 1px solid #ddd; 
    margin-left: 100px;
    overflow: hidden;
}
.produto img {
    margin-left: -55px;
    width: 100%; 
    padding: 30px;
}
 
.favorito {
    width: 30px;
    height: 30px;
    cursor: pointer;
    align-self: flex-end;
    z-index: 2;
    margin: 10px;
}
.favorito:hover {
    block-size: 5.5%;
}
.mais-imagem {
    flex-direction: column;
    margin-top: 15px;
}
.produto-imagem {
    gap: 10px;
    margin-left: 100px;
    width: 150px;
    height: 175px; 
    background-color: #fff; 
    border-radius: 8px;
    border: 1px solid #ddd; 
    margin-top: 10px;
    cursor: pointer;
    align-content: center;
}
.produto-imagem img {
    width: 150px;
    height: auto;
    border-radius: 30px;
}
.produto-desc {
    width: 850px;
    padding: 20px;
    background: #fff;
    border-radius: 30px;
    margin-left: 30px;
}
.produto-desc h1 {
    font-size: 32px;
    color: #000;
    margin-bottom: 20px;
}
.produto-desc p {
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    margin-bottom: 70px;
}
.tamanho {
    margin-top: 20px;
}
.tamanho button {
    width: 89px;
    height: 63px;
    font-size: 36px;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #fff;
    color: #000;
    border: solid #000 1px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}
.tamanho button:hover {
    background-color: #444;
}
.preco {
    font-size: 64px;
    color: #000;
    margin-top: 30px;
}
.acao button {
    width: 370px;
    height: 97px;
    padding: 15px 30px;
    font-size: 20px;
    margin-right: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 34px;
    transition: background-color 0.3s;
    margin-top: 20px;
}
.acao button:hover {
    background-color: #333;
}
@media screen and (max-width: 900px) {
    .container-nav {
        height: auto;
        padding: 1rem;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .logo img {
        width: 15rem;
        height: auto;
        margin-left: 0;
    }
    .nav {
        flex-direction: row;
        padding: 1rem 0;
    }
    .nav img {
        width: 40px;
        height: 40px;
        margin: 0.5rem;
    }
    main {
        flex-direction: column;
        padding: 10px;
    }
    .produto {
        width: 90%;
        margin-left: 0;
        height: auto;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .produto-imagem {
        display: none;
        width: 90%;
        margin-left: 0;
        margin-top: 10px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .produto-imagem img {
        width: 90%;
    }
    .produto-desc {
        width: 90%;
        margin-left: 0;
        padding: 10px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .produto-desc h1 {
        font-size: 24px;
    }
    .produto-desc p {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .tamanho button {
        width: 60px;
        height: 40px;
        font-size: 16px;
        margin-right: 5px;
    }
    .preco {
        font-size: 36px;
        margin-top: 20px;
    }
    .acao button {
        width: 100%;
        height: 50px;
        font-size: 18px;
        margin-top: 10px;
    }
    .favorito {
        width: 25px;
        height: 25px;
        margin: 5px;
    }
}
@media screen and (max-width: 600px) {
    .container-nav {
        height: auto;
        padding: 1rem;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .logo img {
        width: 15rem;
        height: auto;
        margin-left: 0;
    }
    .nav {
        flex-direction: row;
        padding: 1rem 0;
    }
    .nav img {
        width: 40px;
        height: 40px;
        margin: 0.5rem;
    }
    main {
        flex-direction: column;
        padding: 10px;
    }
    .produto {
        width: 90%;
        margin-left: 0;
        height: auto;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .produto-imagem {
        display: none;
        width: 90%;
        margin-left: 0;
        margin-top: 10px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .produto-imagem img {
        width: 90%;
    }
    .produto-desc {
        width: 90%;
        margin-left: 0;
        padding: 10px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .produto-desc h1 {
        font-size: 24px;
    }
    .produto-desc p {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .tamanho button {
        width: 60px;
        height: 40px;
        font-size: 16px;
        margin-right: 5px;
    }
    .preco {
        font-size: 36px;
        margin-top: 20px;
    }
    .acao button {
        width: 100%;
        height: 50px;
        font-size: 16px;
        margin-top: 10px;
    }
    .favorito {
        width: 25px;
        height: 25px;
        margin: 5px;
    }
}
