html {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: -webkit-linear-gradient(#000000, #004D52, #B4B4B4);
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.container {
    display: flex;
    margin-top: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.produtos {
    width: 50%;
    height: 750px;

}

.produto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 70px;
    background-color: #ffffff; 
    height: 100px;
    
}

.imagem {  
    width: 10%;
    height: auto;
    display: flex;
    background-color: #b3aeae; 
    border-radius: 8px;
    border: 1px solid #ff0000; 
    margin-left: 100px;
    overflow: visible;
    height: 100px;
    position: relative;
    margin-left: -10px;
}

.imagem img {
    width: auto;
}

.item-details {
    flex-grow: 1;
    padding: 0 20px;
    color: #000;
}

.imagem2 {  
    width: 30%;
    height: auto;
    display: flex;
    background-color: #000000; 
    border-radius: 8px;
    border: 1px solid #ff0000;    
    overflow: visible;
    height: 100px;
    margin-right: -210px;
    
    

}

.item-actions {
    display: flex;
    align-items: center;
}

.item-actions button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.item-actions input {
    width: 30px;
    text-align: center;
    margin: 0 10px;
    background-color: #222;
    border: none;
    color: #fff;
    padding: 5px;
}

.item-price p {
    font-size: 1.2rem;
    color: #fff;
}

.remove-item button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.summary {
    width: 30%;
    height: 500px;
    padding: 30px;
    background: #fff;
    border-radius: 30px;
    text-align: center;
    margin-left: 200px;
}

.summary h3 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 20px;
}

.summary p {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 20px;
}

.comprar {
    width: 100%;
    padding: 20px;
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comprar:hover {
    background-color: #333;
}

.comprar:hover {
    background-color: #333;
}
